[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pillow = "*"
requests = "*"
flask-api = "*"

[requires]
python_version = "3.6"

[scripts]
devstart = "env FLASK_ENV=development flask run --host localhost --port 5000"
prdstart = "env FLASK_ENV=production flask run --host 0.0.0.0 --port 5000"
teststart = "env FLASK_ENV=development python test.py"

